body {
  background-color: #f3e5f5;
}

.splash-page {
  text-align: center;
  height: 250px;
}

.splash-title {
  font-weight: bold;
}

.splash-text {
  margin: 50px auto 50px auto;
  width: 70%;

}

.main-header {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/splashpage.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

h1.main-header-title {
  text-align: center;
  font-family: cursive;
  color: white;
  font-size: 130px;
  text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
}

.main-content-area {
  background-color: #FFFFFF;
}

/*rel positioning for child elements*/
.entry-box {
  background-color: #f3e5f5;
  height: 350px;
  position: relative;
}

.price-and-button-container {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 15px;
}

div p.food-title {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}

.order-per-item {
  background-color: #f3e5f5;
}

.tax {
  border-bottom: 2px dotted black;
}
